modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "voxlink-host: expo"
author = "agent"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8099 pnpm --filter @workspace/voxlink-host run dev"
waitForPort = 8099

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "admin-panel: web"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/admin-panel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/admin-panel run dev"
cwd = "./admin-panel"
waitForPort = 5000
router = "path"

[workflows.workflow.tasks.env]
PORT = "5000"
BASE_PATH = "/admin-panel/"

[[workflows.workflow]]
name = "voxlink: expo"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/voxlink"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/voxlink run dev"
cwd = "./voxlink"
waitForPort = 8080
ensurePreviewReachable = "/status"
router = "path"

[workflows.workflow.tasks.env]
PORT = "8080"
BASE_PATH = "/"

[[workflows.workflow]]
name = "api-server: API Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "3B4_FFSkEVBkAeYMFRJ2e"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run dev"
cwd = "./api-server"
waitForPort = 8787

[workflows.workflow.tasks.env]
PORT = "8787"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "VoxLink Gateway"

[[workflows.workflow]]
name = "VoxLink Gateway"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PROXY_PORT=3000 node proxy-server.js"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
EXPO_PUBLIC_FIREBASE_VAPID_KEY = "BA169KXMPc3JsGE64NRFeibiuxRCPfphnVroydDaG69iL4HYuhMqA1hKx3e-b5wAWhgqcBS_mIcO8Yz428do63E"

[[ports]]
localPort = 3000
externalPort = 80
